@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blue Theme */
[data-theme='blue'] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

[data-theme='blue'] .dark\:bg-gray-800,
[data-theme='blue'] .dark\:bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity)) !important;
}

[data-theme='blue'] .dark\:bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity)) !important;
}

[data-theme='blue'] .dark\:text-white,
[data-theme='blue'] .dark\:text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(30 58 138 / var(--tw-text-opacity)) !important;
}

[data-theme='blue'] .dark\:text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity)) !important;
}

[data-theme='blue'] .dark\:border-gray-700,
[data-theme='blue'] .dark\:border-gray-600 {
  --tw-border-opacity: 1;
  border-color: rgb(147 197 253 / var(--tw-border-opacity)) !important;
}

/* Purple Theme */
[data-theme='purple'] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 245 255 / var(--tw-bg-opacity));
}

[data-theme='purple'] .dark\:bg-gray-800,
[data-theme='purple'] .dark\:bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(233 213 255 / var(--tw-bg-opacity)) !important;
}

[data-theme='purple'] .dark\:bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(216 180 254 / var(--tw-bg-opacity)) !important;
}

[data-theme='purple'] .dark\:text-white,
[data-theme='purple'] .dark\:text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(88 28 135 / var(--tw-text-opacity)) !important;
}

[data-theme='purple'] .dark\:text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity)) !important;
}

[data-theme='purple'] .dark\:border-gray-700,
[data-theme='purple'] .dark\:border-gray-600 {
  --tw-border-opacity: 1;
  border-color: rgb(192 132 252 / var(--tw-border-opacity)) !important;
}